.fifth-section {
  .row {
      margin-top: 148px;
      margin-bottom: 148px;
      position: relative;
    .col {
      max-width: 216px;
      height: 394px;
      border-radius: 22.4px;
      background-color: #e9ecf0;
    }
    .the{
        max-width: 100%;
        max-height: 100%;
        z-index: 1;
        position: absolute;
    }
  }
}
