@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import '../../styles/fonts';

.navbar {
  background-color: #ffffff;
  height: 4.5rem;

  .get-the-app {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #000000;
  }

  .nav-link {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
  }

  %logo{
    margin-left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  .appstore{
    background-image: url('../../assets/svg/ios_inactive.svg');
    @extend %logo;
  }

  .play-market{
    background-image: url('../../assets/svg/android_inactive.svg');
    @extend %logo;
  }

  .appstore:hover{
    background-image: url('../../assets/svg/ios_active.svg');
  }

  .play-market:hover{
    background-image: url('../../assets/svg/android_active.svg');
  }
}

@include media-breakpoint-up(md) {
  .get-the-app.collapse {
    display: block;
  }
}
