@import '../../styles/fonts';

.fourth-section {
  .row {
    background-image: url('./assets/container.png');
    background-repeat: no-repeat, repeat;
    background-position: center;
    height: 680px;

    @include media-breakpoint-up(md) {
        margin: 0 1.5rem 0 1.5rem;
        background-size: 100% auto;
      }

    .message {
      font-family: SourceSansPro-Regular;
      font-size: 24px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #ffffff;
    }

    .col.image {
      margin-top: 110px;
    }
  }
}
